<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2</title>
    <link rel="stylesheet" href="../css/page2.css">
</head>
<body>
    <header>
        <div>
            <h1>Discover the <br> beauty around <br> the world</h1>
            <p class="parrafo">Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit. <br>Faucibus in libero risus semper <br>habitant arcu.</p>
        </div>
        <div class="Get_started">
            <a href="../views/page3.html">Get started</a>
        </div>
        <div class="Discover">
            <img class="Left" src="../storage/img/page2/Left.png" alt="Left">
            <img class="Right" src="../storage/img/page2/Right.png" alt="Right">
        </div>
        <div class="numbers">
            <p>01</p>
            <p>02</p>
            <p>03</p>
        </div>
    </header>
    <main>
        <img src="../storage/img/page2/3.png" alt="3">
        <img src="../storage/img/page2/1.png" alt="2">
        <img src="../storage/img/page2/2.png" alt="1">
    </main>
</body>
</html>