<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>17</title>
    <link rel="stylesheet" href="../css/page17.css">
</head>
<body>
    <header>
        <h1>Find the project you love</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Faucibus in libero risus semper habitant arcu eget. Et integer <br>facilisi eget diam.Lorem ipsum dolor sit ame,consectetur</p>
        <button>Explore</button>
    </header>
        <img class="img1" src="../storage/img/page17/img1.png" alt="img1">
</body>
</html>