<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1</title>
    <link rel="stylesheet" href="../css/page1.css">
</head>
<body>
    <header>
        <h1>Discover the beauty <br> around the world</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br>elit. Faucibus in libero risus semper habitant arcu <br>eget. Et integer facilisi eget diam.</p>
        <div>
        <a href="../views/page2.html">Explore</a> </div>
    </header>
    <main>
        <div class="Rectangles1">
            <img src="../storage/img/page1/Rectangle1.png" alt="Rectangle1">
            <img src="../storage/img/page1/Rectangle2.png" alt="Rectangle2">
            <img src="../storage/img/page1/Rectangle3.png" alt="Rectangle3">
            <img src="../storage/img/page1/Rectangle4.png" alt="Rectangle4">
        </div>
        <div class="Rectangles2">
            <img src="../storage/img/page1/Rectangle5.png" alt="Rectangle5">
            <img src="../storage/img/page1/Rectangle6.png" alt="Rectangle6">
            <img class ="Rectangle7" src="../storage/img/page1/Rectangle7.png" alt="Rectangle7">
            <img class ="Rectangle8" src="../storage/img/page1/Rectangle8.png" alt="Rectangle8">
        </div>
    </main>
</body>
</html>