<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3</title>
    <link rel="stylesheet" href="../css/page3.css">
</head>
<body>
    <header>
        <div class="Description">
            <h1>Just that simple</h1>
            <p>Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit. Faucibus in libero risus <br>semper habitant arcu eget.</p>
        </div>
        <div class="contenedor">
            <div class="Get_started">
                <a class="Get_started1" href="../views/page4.html">Get started</a>
            </div>
        </div>
    </header>
    <main>
        <div class="image-container">
            <img class="image" src="../storage/img/page3/1.png" alt="1">
        </div>
    </main>
</body>
</html>