<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>6</title>
    <link rel="stylesheet" href="../css/page6.css">
</head>
<body>
    <svg class="circle-svg" viewBox="0 0 400 500">
        <defs>
                <!-- Definimos un <path> que describe un círculo con centro en (150,150) y radio 100 -->
        <path id="circlePath" d="
                M 100,100
                m -100,0
                a 50,50 0 1,0 200,0
                a 50,50 1 1,0 -200,0
                " />
            <clipPath id="circleClip">
            <circle cx="100" cy="100" r="100" />
        </clipPath>
        </defs>
            <!-- textLength="628" fuerza que el texto ocupe ~628px (circunferencia de radio 100) -->
            <!-- lengthAdjust="spacingAndGlyphs" permite que se estire o comprima el espacio y los caracteres -->
        <text textLength="600" lengthAdjust="spacingAndGlyphs">
            <textPath xlink:href="#circlePath" startOffset="0">
            Lorem ipsum dolor sit amet, conser
        </textPath>
        </text>
    </svg>
    <img class="clock" src="../storage/img/page6/list/clock.png" alt="clock">
    <header>
        <div>
            <h1>THE Watch with the <br>newest microchip <br>technology</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br>elit. Faucibus in libero risus semper habitant arcu <br>eget. Et integer facilisi eget diam.</p>
            <div class="links">
                <div class="Order">
                    <a class="Order1" href="../views/page7.html">Order now</a>
                </div>
                <div class="Explore">
                    <a class="Explore1" href="../views/page7.html">Explore more</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <img class="big_line" src="../storage/img/page6/description/big_line.png" alt="big_line">
        <img class="line" src="../storage/img/page6/description/line.png" alt="line">
        <img class="main_image" src="../storage/img/page6/description/main_image.png" alt="main_image">
        <!--  <div>
            <p>Award winning product</p>
        </div>
        <div>
            <p>Ergonomic design</p>E
        </div> -->
    </main>
</body>
</html>
