<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4</title>
    <link rel="stylesheet" href="../css/pagina4.css">
</head>
<body>
    <header>
        <h1>Exploration and <br>inspiration</h1>
        <p>Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit. Faucibus in libero risus <br>semper habitant arcu eget. Et integer <br>facilisi eget diam.</p>
        <div class="Explore1">
            <a class="Explore2" href="../views/page5.html">Explore</a>
        </div>
        <div class="General_Description">
            <p class="number">01</p>
            <p class="Description">Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit. Faucibus in libero risus semper <br>habitant arcu eget. Et integer facilisi eget.</p>
            <p class="number">02</p>
            <p class="Description">Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit. Faucibus in libero risus semper <br>habitant arcu eget. Et integer facilisi eget.</p>
        </div>
    </header>
    <main>
        <img class="" src="../storage/img/pagina4/1.png" alt="cuarto">
    </main>
</body>
</html>