<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>13</title>
    <link rel="stylesheet" href="../css/page13.css">
</head>
<body>
    <header>
        <h1>Create <br> your <br> design</h1>
        <p>Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit. <br>Faucibus in libero risus semper <br>habitant arcu eget.</p>
        <div class="Explore1">
            <a class="Explore2" href="../views/page14.html">Explore</a>
        </div>
    </header>
</body>
</html>