<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/page2.css">
</head>
<body>
    <header>
        <h1>Discover the <br> beauty around <br> the world</h1>
        <p>Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit. <br>Faucibus in libero risus semper <br>habitant arcu.</p>
        <a href="../views/page3.html">Get started</a>
    </header>
</body>
</html>