<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>16</title>
    <link rel="stylesheet" href="../css/page16.css">
</head>
<body>
    <section class="main_text">
        <div class="r">
            <img src="../storage/img/page16/block.png">
            <h1>What´s next in <br>your space travel</h1>
        </div>
            <p class="paragraph">Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit. Faucibus in libero risus semper <br>habitant arcu eget. Et integer facilisi eget diam.</p>
            <button>Explore</button>
        </div>
    </section>
    <section class="category">
        <div class="category_text">
            <img src="../storage/img/page16/icon_category.png" >
            <h1>Planets</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="category_text">
            <img src="../storage/img/page16/icon_category.png" >
            <h1>Interstellar</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="category_text">
            <img src="../storage/img/page16/icon_category.png" >
            <h1>Wormhole</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="category_text">
            <img src="../storage/img/page16/icon_category.png" >
            <h1>Time</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </section>
    <img class="img__bac" src="../storage/img/page16/background_AI.png">
</body>
</html>