<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>13</title>
    <link rel="stylesheet" href="../css/page13.css">
</head>
<body>
    <header>
        <h1>Create <br> your <br> design</h1>
        <p>Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit. <br>Faucibus in libero risus semper <br>habitant arcu eget.</p>
        <div class="Explore1">
            <a class="Explore2" href="../views/page14.html">Explore</a>
    </header>
    <main>
        <div>
            <p class="number01">01</p>
            <p class="number01text">Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit. Faucibus in libero risus.</p>
            <img class="explosion" src="../storage/img/page13/icons/explosion.png" alt="explosion">
            <img class="left" src="../storage/img/page13/imgs/left.png" alt="left">
            <img class="star1" src="../storage/img/page13/icons/star.png" alt="star1">
        </div>
        </div class="img">
            <img class="gradient" src="../storage/img/page13/imgs/gradient.png" alt="gradient">
        </div>
        <div>
            <img class="right" src="../storage/img/page13/imgs/right.png" alt="right">
            <img class="star2" src="../storage/img/page13/icons/star.png" alt="star2">
            <img class="party" src="../storage/img/page13/icons/party.png" alt="party">
            <p class="number02">02</p>
            <p class="number02text">Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit. Faucibus in libero risus.</p>
        </div>
    </main>
</body>
</html>