<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>9</title>
    <link rel="stylesheet" href="../css/page9.css">
</head>
<body>
    <header>
        <h1>Interior design</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br>elit. Faucibus in libero risus semper habitant arcu eget. <br>Et integer facilisi eget.</p>
        <div class="Explore1">
            <a class="Explore2" href="../views/page10.html">Explore</a>
        </div>
    </header>
</body>
</html>