<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>9</title>
    <link rel="stylesheet" href="../css/page9.css">
</head>
<body>
    <header>
        <div>
            <img class="right" src="../storage/img/page9/right.png" alt="right">
        </div>
        <div class="description">
            <h1>Interior design</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br>elit. Faucibus in libero risus semper habitant arcu eget. <br>Et integer facilisi eget.</p>
            <div class="Explore1">
                <a class="Explore2" href="../views/page10.html">Explore</a>
            </div>
        </div>
    </header>
    <main>
        <img class="left" src="../storage/img/page9/left.png" alt="left">
        <div class="category">
            <div class="numbers">
                <p>5.8</p>
                <p>99+</p>
                <p>110K</p>
            </div>
            <div class="lines">
                <hr class="sline">
                <hr class="sline">
                <hr class="sline">
            </div>
            <div class="category_descriptions">
                <p>Lorem ipsum dolor sit <br>amet, consectetur <br>adipiscing elit. Faucibus <br>in libero risus semper <br>habitant arcu eget.</p>
                <p>Lorem ipsum dolor sit <br>amet, consectetur <br>adipiscing elit. Faucibus <br>in libero risus semper <br>habitant arcu eget.</p>
                <p>Lorem ipsum dolor sit <br>amet, consectetur <br>adipiscing elit. Faucibus <br>in libero risus semper <br>habitant arcu eget.</p>
            </div>
        </div>
    </main>
</body>
</html>