<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>14</title>
    <link rel="stylesheet" href="../css/pagina14.css">
</head>
<body>
    <header>
        <h1>Listen to yourself <br> Follow your heart</h1>
        <p>Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit. Faucibus in libero risus semper <br>habitant arcu eget. Et integer facilisi eget.</p>
        <div class="Download1">
            <a class="Download2" href="../views/pagina15.html">Download the App</a>
        </div>
    </header>
</body>
</html>