<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>10</title>
    <link rel="stylesheet" href="../css/pagina10.css">
</head>
<body>
    <header>
        <h1>
            <span class="color1">Desing.</span><br>
            <span class="color2">Create.</span><br>
            <span class="color3">Inspire.</span>
        </h1>
        <p>Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit. Faucibus <br>in libero risus semper habitant arcu <br>eget. Et integer facilisi eget.</p>
        <div class="Explore1">
            <a class="Explore2" href="../views/pagina11.html">Explore</a>
        </div>
    </header>
    <main>
        <div class="division1">
            <img src="../storage/img/pagina10/division1/1.png" alt="1">
            <img src="../storage/img/pagina10/division2/1.png" alt="1">
            <img src="../storage/img/pagina10/division3/1.png" alt="1">
            <img src="../storage/img/pagina10/division4/1.png" alt="1">
        </div>
        <div class="division2">
            <img src="../storage/img/pagina10/division1/2.png" alt="2">
            <img src="../storage/img/pagina10/division2/2.png" alt="2">
            <img src="../storage/img/pagina10/division3/2.png" alt="2">
            <img src="../storage/img/pagina10/division4/2.png" alt="2">
        </div>
        <div class="division3">
            <img src="../storage/img/pagina10/division1/3.png" alt="3">
            <img src="../storage/img/pagina10/division2/3.png" alt="3">
            <img src="../storage/img/pagina10/division3/3.png" alt="3">
            <img src="../storage/img/pagina10/division4/3.png" alt="3">
        </div>
        <div class="division4">
            <img src="../storage/img/pagina10/division1/4.png" alt="4">
            <img src="../storage/img/pagina10/division2/4.png" alt="4">
            <img src="../storage/img/pagina10/division3/4.png" alt="4">
            <img src="../storage/img/pagina10/division4/4.png" alt="4">
        </div>
    </main>
</body>
</html>