<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>11</title>
    <link rel="stylesheet" href="../css/pagina11.css">
</head>
<body>
    <header>
        <h1>New designs <br>New inspirations</h1>
        <p>Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit. Faucibus in libero risus semper <br>habitant arcu eget. Et integer facilisi eget diam.</p>
        <div class="Explore1">
            <a class="Explore2" href="../views/pagina12.html">Explore</a>
        </div>
        <div class="imgs">
            <img class="right" src="../storage/img/page11/left.png" alt="right">
            <img class="left" src="../storage/img/page11/right.png" alt="left">
        </div>
    </header>
    <main>
        <div class="category">
            <div class="clouds">
                <img src="../storage/img/page11/cloud.png" alt="cloud">
                <img src="../storage/img/page11/cloud.png" alt="cloud">
                <img src="../storage/img/page11/cloud.png" alt="cloud">
            </div>
            <div class="titles">
                <p>Title 1</p>
                <p>Title 2</p>
                <p>Title 3</p>
            </div>
            <div class="categorytext">
                <p>Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit.</p>
                <p>Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit.</p>
                <p>Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit.</p>
            </div>
        </div>
    </main>
</body>
</html>