<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>11</title>
    <link rel="stylesheet" href="../css/pagina12.css">
</head>
<body>
    <header>
        <h1>Discover.<br>Explore.<br>Inspire.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit. Faucibus in libero risus semper <br>habitant arcu eget. Et integer facilisi eget diam.</p>
        <div class="Explore1">
            <a class="Explore2" href="../views/pagina13.html">Explore</a>
        </div>
    </header>
    <main>
        <img class="Shape_wave" src="../storage/img/pagina12/icons/shape wave.png" alt="Shape_wave">
        <img class="Spiral" src="../storage/img/pagina12/icons/Spiral 3.png" alt="Spiral">
        <img class="Dawn1" src="../storage/img/pagina12/icons/Dawn.png" alt="Dawn1">
        <img class="Dawn2" src="../storage/img/pagina12/icons/Dawn.png" alt="Dawn2">
    </main>
</body>
</html>