<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5</title>
    <link rel="stylesheet" href="../css/pagina5.css">
</head>
<body>
    <header>
        <h1>Projects and <br>practice</h1>
    </header>
    <main>
        <div class="numbers">
            <p>01</p>
            <p>02</p>
            <p>03</p>
        </div>
        <div class="description">
            <p>Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit. Faucibus <br>in libero risus semper habitant arcu <br>eget. Et integer facilisi eget.</p>
            <p>Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit. Faucibus <br>in libero risus semper habitant arcu <br>eget. Et integer facilisi eget.</p>
            <p>Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit. Faucibus <br>in libero risus semper habitant arcu <br>eget. Et integer facilisi eget.</p>
        </div>
        <div class="images">
            <img src="../storage/img/pagina5/1.png" alt="1">
            <img src="../storage/img/pagina5/2.png" alt="2">
            <img src="../storage/img/pagina5/3.png" alt="3">
        </div>
    </main>
</body>
</html>