<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>15</title>
    <link rel="stylesheet" href="../css/pagina15.css">
</head>
<body>
    <header>
        <h1>Adventure <br>Voyage <br>Wandering</h1>
        <p>Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit. Faucibus <br>in libero risus semper habitant arcu <br>breget. Et integer facilisi.</p>
        <div class="started1">
            <a class="started2" href="../views/pagina16.html">Get started</a>
        </div>
        <div class="imgs_lefts">
            <img class="left1" src="../storage/img/pagina15/left1.png" alt="left1">
            <img class="left2" src="../storage/img/pagina15/left2.png" alt="left2">
        </div>
    </header>
</body>
</html>