<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>14</title>
    <link rel="stylesheet" href="../css/pagina14.css">
</head>
<body>
    <header>
        <h1>Listen to yourself <br> Follow your heart</h1>
        <p>Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit. Faucibus in libero risus semper <br>habitant arcu eget. Et integer facilisi eget.</p>
        <div class="Download1">
            <a class="Download2" href="../views/pagina15.html">Download the App</a>
        </div>
    </header>
    <main>
        <div class="imgs">
            <img class="big_brown" src="../storage/img/pagina14/big_brown.png" alt="big_brown">
            <img class="big_yellow" src="../storage/img/pagina14/big_yellow.png" alt="big_yellow">
            <img class="Portal" src="../storage/img/pagina14/Portal.png" alt="Portal">
            <img class="portal1" src="../storage/img/pagina14/portal1.png" alt="portal1">
            <img class="heart" src="../storage/img/pagina14/heart.png" alt="heart">
            <img class="star" src="../storage/img/pagina14/Star1.png" alt="Star1">
            <img class="cellphone" src="../storage/img/pagina14/cellphone.png" alt="cellphone">
            <img class="star2" src="../storage/img/pagina14/Star2.png" alt="Star2">
        </div>
        <div class="category">
            <div class="numbers">
                <p>4.9</p>
                <p>876K</p>
                <p>No.1</p>
            </div>
            <div class="lines">
                <hr class="sline">
                <hr class="sline">
                <hr class="sline">
            </div>
            <div class="categorytext">
                <p>Lorem ipsum <br>dolor sit amet</p>
                <p>Lorem ipsum <br>dolor sit amet</p>
                <p>Lorem ipsum <br>dolor sit amet</p>
            </div>
        </div>
    </main>
</body>
</html>