@import url(variable.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0; 
    padding: 0; 
    background-image: url("../storage/img/page16/background_AI.png"); 
    background-size: cover;
    background-position: 350px; 
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; 
}



.block{
    display: flex; 
    width: 350px;
    height: 1000px; 
    background: linear-gradient(135deg,var(--color-56),35%,var(--color-57)); 
    position: relative; 
}
