@import url(variable.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Description{
    display: flex;
    align-items: flex-start; 
    justify-content: center; 
    margin-top:60px;
    margin-left: -90px;
    gap: 150px;
}

header h1{
    position: absolute; /* Lo fija en un punto */
    top: 35px;
    left: 14%;
    font-family: "Avenir-Heavy";
    font-size: 78px;
    color: var(--color-2);
}

header p{
    position: absolute; /* Lo fija en un punto */
    top: 50px;
    left: 60%;
    font-family: "Avenir-Roman";
    color: var(--color-3);
    font-weight: 500;
    font-size: 24px;
}

.Get_started {
    position: absolute; /* Lo fija en un punto */
    top:180px; /* Ajusta la distancia desde arriba */
    left: 63%; /* Ajusta la distancia desde la izquierda */
    transform: translateX(-50%); /* Lo centra respecto a su posición */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-2);
    width: 150px;
    height: 50px;
    border-radius: 20px;
    font-family: "Avenir-Roman";
}

.Get_started1 {
    color: var(--color-4);
    font-size: 16px;
    text-decoration: none;
}

.image{
    margin-top: 200px;
    margin-left:50px;
}

.image-container { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-bottom: 50px; 
}
