@import url(variable.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.circle-svg {
    display: block;
    margin: 40px 0 0 0px;  /* margen superior e izquierdo */
    width: 250px;           /* ancho reducido */
    height: 250px;  
}
text {
    font-family: "Times-Regular";
    font-size: 16px;
    fill: var(--color-7);
}

.clock{
    display: flex;
    margin-top: -210px;
    margin-left: 64px;
}

header{
    margin-left: 60px;
    margin-top: 70px;
}

header h1{
    font-family: "PlayfairDisplay-Bold";
    font-size: 64px;
    color: var(--color-10);
}

header p{
    font-family: "WorkSans-Regular";
    font-size: 23px;
    color: var(--color-7);
    margin-top: 15px;
}

.links{
    display: flex;
    font-family: "WorkSans-Medium";
    gap: 40px;
    margin-top: 30px;
    font-size: 24px;
}

.Order{
    display: flex;
    background-color: var(--color-10);
    border-radius: 20px;
    width: 200px;
    height: 65px;
    align-items: center;
    justify-content: center;
}

.Order1{
    color: var(--color-4);
    text-decoration: none;
}

.Explore{
    display: flex;
    background-color: var(--color-4);
    border: 1px solid var(--color-12);
    border-radius: 20px;
    width: 200px;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.Explore1{
    color: var(--color-7);
    text-decoration: none;
}