@import url(variable.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: relative;
    margin-top: 12%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.gradient{
    margin-top: -800px;
    margin-left: 300px;
    height: 950px;
}

header h1{
    font-family: "Times-Regular";
    font-weight: 100;
    line-height: 80%;
    color: var(--color-2);
    font-size: 112px;
}

header p{
    font-family: "Times-Regular";
    margin-top: 30px;
    font-weight: 100;
    color: var(--color-2);
    font-size: 24px;
}

.Explore1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5%;
    background-color: var(--color-2);
    width: 180px;
    height: 62px;
    border-radius: 25px;
}

.Explore2{
    color: var(--color-4);
    font-family: "Poppins-Regular";
    font-size: 24px;
    justify-content: center;
    text-decoration: none;
}

.img{
    position: absolute;
}

.number01{
    position: absolute;
    font-family: "Times-Bold";
    font-size: 22px;
    margin-top: -640px;
    margin-left: 55px;
}

.number01text{
    position: absolute;
    font-family: "Times-Regular";
    font-size: 20px;
    margin-top: -600px;
    margin-left: 55px;
}


.explosion{
    position: absolute;
    margin-top: -42%;
    margin-left: 7%;
    height: 150px;
}

.star1{
    position: absolute;
    margin-top: -550px;
    height: 270px;
    margin-left: 23%;
}

.left{
    position: absolute;
    height: 460px;
    margin-top: -30%;
    margin-left: 6%;

}