@import url(variable.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 1070px;
    width: 1250px;
    background: background linear-gradient(160deg, var(--color-56) 15.72%, var(--color-57) 68.5%);
}

h1 {
    color: var(--color-1);
}
p {
    color: var(--color-1);
}

.r h1 {
    font-family: "Avenir-Heavy";
    width: 500px;
    margin-top: 30px;
    font-size: 54px;
    line-height: 35px;
}

.main_text {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    border-radius: 20px;
    padding-top: 40px;
    padding-right: 50px;
    padding-bottom: 40px;
    padding-left: 50px;
    background: linear-gradient(124.42deg, rgba(0, 0, 0, 0.30) 6%, rgba(0, 0, 0, 0.0675) 102%);
    backdrop-filter: blur(8px);
    width: 710px;
    height: 500px;
    top: 190px;
    left: 60px;
    gap: 8px;
}
.r {
    width: 612px;
    height: 184px;
}
.r img {
    width: 80px;
    height: 16px;
}

.paragraph{
    font-family: "Avenir-Roman";
    width: 800px;
    margin-top: -30px;
    font-size: 26px;
}

.main_text button {
    width: 185px;
    height: 65px;
    box-shadow: 0px 0px 30px 0px #63E1E140;
    background: var(--color-58);
    border: none;
    font-family: "Poppins-Regular";
    font-size: 24px;
    padding-right: 44px;
    padding-top: 20px;
    padding-left: 48px;
    padding-bottom: 20px;
    line-height: 16px;
    border-radius: 40px;
}

.category_text h1 {
    font-family: "Avenir-Heavy";
    line-height: 32px;
    font-size: 24px;
    width: 80px;
    font-weight: 800;
}

.category_text img {
    height: 18px;
    width: 24px;
}

.category_text p {
    font-family: "Avenir-Roman";
    line-height: 25px;
    font-size: 18px;
    width: 230px;
}

.category{
    position: absolute;
    display: flex;
    padding-right: 56px;
    padding-bottom: 24px;
    border-radius: 32px;
    padding-left: 54px;
    padding-top: 20px;
    top: 780px;
    left: 65px;
    gap: 92px;
    border: 1px solid;
    backdrop-filter: blur(8px)
}

.img__bac {
    position: absolute;
    z-index: -1;
    left: 416px;
    height: 1070px;
    width: 1024px;
}