@import url(variable.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 1070px;
    width: 1250px;
    background: background linear-gradient(160deg, var(--color-56) 15.72%, var(--color-57) 68.5%);
}