@import url(variable.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 120vh;
}

main{
    display: flex;
    margin-top: 40px;
}


header {
    position: absolute;
    margin-left: 60%;
}

header h1 {
    font-family: "Avenir-Heavy";
    position: relative;
    font-size: 5vw;
    top: 55px;
    color: var(--color-2);
}


.paragraph{
    position: relative;
    top: 60px;
    font-family: "Avenir-Roman";
    font-size: 2vw; 
    color: var(--color-3);
    font-weight: 500;
}

.Explore1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--color-2);
    top: 150px;
    width: 130px;
    height: 50px;
    border-radius: 20px;
}

.Explore2 {
    color: var(--color-4);
    font-family: "Avenir-Roman";
    font-size: 1.5vw;
    text-decoration: none;
}

.General_Description {
    position: relative;
    top: 200px;
}

.number {
    font-family: "Avenir-Heavy";
    color: var(--color-6);
    font-size: 2vw;
    font-weight: 500;
}

.Description {
    font-family: "Avenir-Roman";
    color: var(--color-3);
    font-size: 1.5vw;
}

main img {
    width: 55vw; 
    height: 110vh; 
    top: 30px;
    object-fit: cover; /* Que nunca se deforme */
}