@import url(variable.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin-left: 40px;
}

header h1 {
    margin-top: 100px;
    font-family: "Avenir-Heavy";
    color: var(--color-2);
    font-size: 72px;
}

header p{
    margin-top: 15px;
    font-family: "Avenir-Roman";
    color: var(--color-3);
    font-weight: 500;
    font-size: 26px;
}

.Explore1{
    display: flex;
    margin-top: 30px;
    border-radius: 30px;
    background-color: var(--color-2);
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 55px;
}

.Explore2{
    color: var(--color-4);
    font-family: "Poppins-Regular";
    font-size: 24px;
    text-decoration: none;
}

.imgs{
    display: flex;
    height: 350px;
}

.right{
    position: relative;
    margin-left: 55%;
    top: -430px;
}

.left{
    position: relative;
    margin-left: -8%;
    top: -315px;
}

.category{
    background-color: var(--color-2);
    margin-top: -20%;
    border-radius: 20px;
    width: 92%;
    height: 240px;
    margin-left: 40px;
}

.clouds{
    display: flex;
    padding: 50px;
    gap: 380px;
}

.titles{
    font-family: "Avenir-Heavy";
    color: var(--color-32);
    font-size: 32px;
    display: flex;
    padding-left: 50px;
    margin-top: -40px;
    gap: 310px;
}

.categorytext{
    font-family: "Avenir-Book";
    color: var(--color-4);
    font-size: 20px;
    display: flex;
    padding-left: 50px;
    margin-top: 10px;
    gap: 155px;
}