@import url(variable.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin: 40px;
}

header h1{
    font-family: "Avenir-Heavy";
    color: var(--color-2);
    font-size: 80px;
}