@import url(variable.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin: 45px;
}

header h1{
    font-family: "Avenir-Heavy";
    font-size: 72px;
    color: var(--color-2);
    line-height: 85px;
}

header p{
    font-family: "Avenir-Roman";
    font-size: 24px;
    font-weight: 500;
    color: var(--color-3);
}

.Explore1{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-top: 20px;
    width: 180px;
    height: 65px;
    background-color: var(--color-2);
}

.Explore2{
    font-family: "Poppins-Regular";
    font-size: 24px;
    color: var(--color-4);
    text-decoration: none;
}
