@import url(variable.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: var(--color-2);
    border-radius: 16px;
    margin-top: 30px;
    width: 180px;
    height: 60px;
}

body a{
    color: var(--color-4);
    text-decoration: none;
    font-family: "Avenir-Roman";
    font-size: 18px;
}
